  <main class="main m-0 antialiased radial-gradient" id="main-section">
    <div class="content">
      <div class="mx-auto lg:px-24 lg:py-0 lg:flex-row xs:flex xs:flex-col-reverse xs:px-6">
        <div class="lg:w-1/2 lg:py-24">
          <section class="w-70 scroll-mt-24" id="sobre-mi">
              <h2 class="lg:hidden text-slate-700 tracking-tight text-xl mb-3">Sobre mí</h2>
              <p class="text-slate-800">Mi pasión por el mundo web viene desde pequeño, ya que siempre me preguntaba que había detrás de la pantalla. Con 17 años, lo hice oficial y me lancé a estudiar este mundo.</p>
              <p class="mt-3 text-slate-800">Esto me permitió, a día de hoy, haber trabajado durante casi 4 años en una empresa que me apasionaba, implementando soluciones digitales a nivel nacional. Además,
                durante un tiempo, me encargué de mantener y desarrollar webs para clientes particulares, llegando a trabajar con diversos sectores del mercado.</p>
              <p class="mt-3 text-slate-800">Estoy comprometido a seguir expandiendo mis conocimientos en este sector. Tengo experiencia con Angular y PHP (Laravel y Symfony), pero sigo aprendiendo mientras trasteo con otras tecnologías.</p>
              <p class="mt-3 text-slate-800">También me encantan otras áreas de la informática, como la ciberseguridad. Esto me ayuda a securizar las aplicaciones que desarrollo, e intentar reducir riesgos al máximo.</p>
          </section>
  
          <section #proyectos class="w-70 scroll-mt-24 xs:mt-16 lg:mt-36" id="experiencia">
              <h2 class="lg:hidden text-slate-700 tracking-tight text-xl mb-3">Experiencia</h2>
              <app-job></app-job>
              <h3 class="italic text-slate-800 hover:text-green-600 group"><a href="assets/pdf/cv-completo.pdf" target="_blank">Ver experiencia completa<i class="fa-solid fa-arrow-up-right-from-square ml-3 group-hover:fill-green-600"></i></a></h3>
          </section>

          <section class="w-70 scroll-mt-24 xs:mt-16 lg:mt-36" id="proyectos">
              <h2 class="lg:hidden text-slate-700 tracking-tight text-xl mb-3">Proyectos</h2>
              <app-project></app-project>
              <h3 class="italic text-slate-800 hover:text-green-600 group"><a href="https://google.es" target="_blank">Ver todos mis proyectos<i class="fa-solid fa-arrow-up-right-from-square ml-3 group-hover:fill-green-600"></i></a></h3>
          </section>
          
        </div>
        <div class="lg-flex lg:w-1/2 lg:justify-between lg:gap-4 xs:mb-6 xs:mt-6 lg:mt-0">
          <header class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:flex-col lg:py-24">
            <h1 class="text-5xl tracking-tight font-bold text-slate-800 lg:text-right xs:text-left">Sergio Romeu</h1>
            <h2 class="mt-3 tracking-tight text-slate-700 text-right text-lg lg:text-right xs:text-left">Desarrollador Full Stack.</h2>
            <p class="mt-3 tracking-tight text-slate-600 text-right text-md lg:text-right xs:text-left">Tu visión, mi código.</p>
  
            <div class="lg:mt-32 xs:mt-6 xs:mb-6 xs:hidden lg:block">
              <app-sidebar></app-sidebar>
            </div>
          </header>
        </div>
      </div>
    </div>
  </main>
  
  <router-outlet />
