<nav class="nav lg:block lg:text-right xs:text-left lg:mt-12">
    <ul>
        <li class="mt-2">
            <a class="text-blue-950 hover:text-blue-800 delay-200 ease-line active" routerLink="#sobre-mi" routerLinkActive="text-green-500" href="#sobre-mi">Sobre mi</a>
        </li>
        <li class="mt-2 text-blue-950 hover:text-blue-800 delay-200 ease-linear active:text-blue-950">
            <a href="#experiencia">Experiencia</a>
        </li>
        <li class="mt-2 text-blue-950 hover:text-blue-800 delay-200 ease-linear active:text-blue-950" onclick="scroll(proyectos)">
            <a href="#proyectos">Proyectos</a>
        </li>
    </ul>
</nav>